 @use './variables.scss';
 
 // FLEXBOX
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// CONTENEDORES
@mixin page-container {
  max-width: $content-max-width;
  margin: 0 auto;
  padding: $spacing-lg;
}

@mixin section-container {
  background: $color-surface;
  border-radius: $radius-lg;
  padding: $spacing-lg;
  box-shadow: $shadow-sm;
}

// CARDS
@mixin card {
  background: $color-surface;
  border-radius: $radius-lg;
  box-shadow: $shadow-sm;
  transition: $transition-normal;
}

@mixin card-hover {
  transition: $transition-normal;

  &:hover {
    box-shadow: $shadow-md;
  }
}

// TEXTO
@mixin truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//RESPONSIVE
@mixin mobile {
    @media (max-width: 600px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}